.row {width: 100%;}

@media (max-width: 991px) and (min-width:768px){
    .col-md-6,.col-md-12 {
        float: left;
        border: 1px;
        padding: 20px;
        border-color: black ;}
        .col-md-6{
            width: 50%;}
        .col-md-12{
            width: 100%;}}


@media (min-width: 992px){
        .col-lg-4,.col-lg-6
        {
        float: left;
        border: 1px;
        padding: 20px;
        border-color: black; 
        }
        .col-lg-4{
            width: 33.33%;}
        .col-lg-6{
            width: 50%;}
        }
@media (max-width: 767px){
        .col-sm-12 {
        float: left;
        border: 1px;
        padding: 20px;
        border-color: black ;
}

        .col-sm-12{
            width: 100%;}}